<table class="table table-striped">
  <thead>
    <tr>
        <th>S.No</th>
        <th>Adı</th>
        <th>Durumu</th>
        <th>Eğitmen</th>
        <th>Kontenjan</th>
        <th>Baş. Tarihi</th>
        <th>Bitiş Tarihi</th>
        <th>Devamsızlık Sınırı</th>
        <th>Saat</th>
        <th><a class="btn btn-default">+</a></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of course; let i=index">
      <td>{{i+1}}</td>
      <td>{{item.name}}</td>
      <td *ngIf="item.status==true">Devam Ediyor</td>
      <td *ngIf="item.status==false">Bitti</td>
      <td>{{item.teacher}}</td>
      <td>{{item.qouta}}</td>
      <td>{{item.start_date}}</td>
      <td>{{item.end_date}}</td>
      <td>{{item.limit}}</td>
      <td>{{item.hour}}</td>
      <td><a class="btn btn-default">Edit</a></td>
    </tr>
  </tbody>

</table>
