<!--The content below is only a placeholder and can be replaced.-->
 <div class="container">
  <div class="row header">
      <header>
        <h2>Elektronik Setifika Programı</h2>
      </header>
  </div>
  <div class="row horizantal-menu ">
       <div class="col-sm-6">
             <a routerLink="/" class="btn btn-default">Kurs</a>
       </div>
       <div class="col-sm-6">
             <a routerLink="/absent" class="btn btn-default">Devamsızlık</a>
       </div>
  </div>
  <div class="row">
      <router-outlet></router-outlet>
  </div>
  <div class="row">
    <div class="col-sm-12" style="text-align:center" >
        <footer>
            <p>Bilişim Teknolojileri Bölümü</p>
        </footer>
    </div>
  </div>
<div> 
  



 