<br>
<table class="table table-striped">
  <thead>
    <tr>
        <th>Devam Eden Kurslar</th>
        <th colspan="3">Tarih</th>
        <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <select class="form-control" [(ngModel)]="courseId">
          <option 
            *ngFor="let item of courses"
            [ngValue]="item.id"
            >
            {{item.name}}
          </option>
        </select>
      </td>
      <td colspan="3">
          <p-calendar [(ngModel)]="absent_date" dateFormat="dd/mm/yy"></p-calendar>
      </td>
      <td>
          <a class="btn btn-default"(click)="findCourseStudents()">Öğrencileri Bul</a>
      </td>
    </tr>
  </tbody>
</table>
<table class="table table-striped">
  <thead>
    <tr>
        <th>S.No</th>
        <th>Adı</th>
        <th>Soyadı</th>
        <th>Toplam Devamsızlığı</th>
        <th>Bugünkü Devamsızlığı</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of courseStudents; let i=index">
      <td>{{i+1}}</td>
      <td>{{item.name}}</td>
      <td>{{item.surname}}</td>
      <td>{{item.total}}</td>
      <td><input type="number" class="form-control" min=0 max=10  [(ngModel)]="item.hour"></td>
    </tr>
   <tr>
     <td colspan="5"><a class="btn btn-default" (click)="saveCourseStudentsHours()">Kaydet</a></td>
   </tr>
</table>
